
{# {% extends 'base.html.twig' %} #}

{# {% block title %}Iniciar sesión{% endblock %} #}
    {% block stylesheets %}
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <link href="{{ asset('bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('styles/signin.css')}}" >
  
    {% endblock %} 

{% block body %}
<body>
    <main class="form-signin text-center">
        <form method="post">
        <div>
            <img class="mb-4" src="{{ asset('images/logo3.svg') }}" alt="" width="150" height="100">
            <h1 class="h3 mb-3 fw-normal text-white">Por favor, inicia sesión</h1>
        </div>
            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            {% if app.user %}
                <div class="alert alert-info">
                    Ya has iniciado sesión como {{ app.user.userIdentifier }},
                    <a href="{{ path('app_logout') }}">Salir</a>
                </div>
            {% endif %}

            <div class="form-floating">
                <input type="email" name="_username" value="{{ last_username }}" class="form-control" id="floatingInput" placeholder="name@example.com" required autofocus>
                <label for="floatingInput">Correo electrónico</label>
            </div>

            <div class="form-floating">
                <input type="password" name="_password" class="form-control" id="floatingPassword" placeholder="Contraseña" required>
                <label for="floatingPassword">Contraseña</label>
            </div>

            {# <div class="checkbox mb-3 text-white">
                <label>
                    <input type="checkbox" name="_remember_me" value="on"> Recordarme
                </label>
            </div> #}

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="w-100 btn btn-lg btn-light text-dark" type="submit">Iniciar sesión</button>
            <p class="mt-5 mb-3 text-muted">&copy; {{ "now"|date("Y") }}</p>
        </form>
    </main>
</body>
{% endblock %}
